.toast-container {
  position: fixed;
  bottom: 0;
  right: 0;
  transition: all .2s linear;
  z-index: 10001;
}

@media(max-width: 768px) {
  .toast-container {
    width: 100%;
    display: block;
  }
}

.toast {
  font-family: sans-serif;
  color: white;
  position: relative;
  border-radius: 2px;
  margin: 8px 24px;
  padding: 18px;
  background-color: #555;
  transition: all .3s cubic-bezier(.24,.22,.015,1.56), opacity .1s linear;
  overflow: auto;
  min-width: 100px;
  cursor: pointer;
  opacity: 0;
  transform: scale(0.7) translateY(50px);
  z-index: 2000;
}

@media(max-width: 768px) {
  .toast {
    margin: 0;
    border-bottom: 1px solid black;
    max-width: 100%;
    width: 100%;
    padding: 20px;
    transform: scale(1) translateY(100px);
    border-radius: 0;
  }
}

.flyOut {
  opacity: 0;
  transform: scale(0.5) translateX(400px);
}

.flyIn {
  opacity: 1;
  transform: scale(1) translateY(0);
}
